<!DOCTYPE html>
<html>
  <head>


    <title>App6news</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- https://stackoverflow.com/questions/32960846/bootstrap-carousel-not-working-rails -->
  	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<%= javascript_include_tag "news" %>

	<script>
   	 
	$( document ).ready(function(){

	 	// Activate Carousel
		<% for i in 1..5 %>
	    $("#text-carousel<%="#{i}"%>").carousel();
		<%end%>

		// Enable Carousel Controls
		$("#click-prev").click(function(){
			<% for i in 1..5 %>
		    $("#text-carousel<%="#{i}"%>").carousel("prev");
			<%end%>
		});
		$("#click-next").click(function(){
			<% for i in 1..5 %>
		    $("#text-carousel<%="#{i}"%>").carousel("next");
			<%end%>
		});
	});

	</script>

	<script>
		function openNav(owner) {

		    var title = owner.innerHTML;

			var link = parseNewsForLink(<%= news_get_json.html_safe %>, title);
			var body = parseNewsForBody(<%= news_get_json.html_safe %>, title);

		    document.getElementById("focusView").style.width = "100%";

		    document.getElementById("focus-view-title").innerHTML = title;
		    document.getElementById("focus-view-title").href = link;
		    document.getElementById("focus-view-body").innerHTML = body;
		}

		function closeNav() {
		    document.getElementById("focusView").style.width = "0";
		}
	</script>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
